In [20]:
import pandas as pd
TEAM_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/팀투수_세이버 매트릭스_합본.csv"
PER_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/개인투수_세이버 매트릭스_합본.csv"

In [74]:
team_pitcher = pd.read_csv(TEAM_PATH)
team_pitcher[["RA/9","평균자책점"]]

          RA/9     평균자책점
0     0.000000  0.000000
1     0.000000  0.000000
2     0.000000  0.000000
3     0.000000  0.000000
4     0.000000  0.000000
...        ...       ...
6395  5.261876  4.817905
6396  4.746883  4.292394
6397  5.576261  4.999407
6398  5.419240  4.874109
6399  5.205575  4.766551

[6400 rows x 2 columns]

In [33]:
team_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점', 'RA/9', 'ERC', 'FIP', 'LOB',
       '홈런율', '삼진율', 'K9', 'BB9', 'HR9', 'KBB', 'P/G', 'P/IP', 'P/PA', 'PFR',
       'CYP'],
      dtype='object')

In [30]:
pitcher = pd.read_csv(PER_PATH)
pitcher

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,삼진율,K9,BB9,HR9,KBB,P/G,P/IP,P/PA,PFR,CYP
0,20160401HHLG0,2016-04-01,LG,HH,0,B,60146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61891,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20160401HHLG0,2016-04-01,LG,HH,0,B,62146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20160401HHLG0,2016-04-01,HH,LG,0,T,65764,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27799,20200719WOSK0,2020-07-19,WO,SK,0,T,67313,1,0,0,...,0.185567,7.043478,3.130435,1.173913,2.250000,146.261538,16.782609,3.938776,1.173913,3.300000
27800,20200719WOSK0,2020-07-19,WO,SK,0,T,67391,0,1,0,...,0.205882,7.985915,3.422535,0.760563,2.333333,146.261538,17.197183,3.990196,1.267606,1.933333
27801,20200719WOSK0,2020-07-19,WO,SK,0,T,68341,0,1,0,...,0.270270,9.642857,4.821429,0.964286,2.000000,146.261538,14.785714,3.729730,1.607143,1.666667
27802,20200719WOSK0,2020-07-19,WO,SK,0,T,69399,0,1,0,...,0.075472,3.724138,3.724138,0.000000,1.000000,146.261538,18.103448,3.301887,0.827586,-6.766667
27803,20200719WOSK0,2020-07-19,SK,WO,0,B,75138,0,1,0,...,0.153846,6.000000,6.000000,3.000000,1.000000,154.640625,17.000000,3.923077,1.333333,0.700000

In [34]:
pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루.1', '희타', '희비', '4구', '고4', '사구', '삼진', '병살', '폭투', '보크',
       '실책', '실점', '자책점', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점',
       'RA/9', 'ERC', 'FIP', 'LOB', '홈런율', '삼진율', 'K9', 'BB9', 'HR9', 'KBB',
       'P/G', 'P/IP', 'P/PA', 'PFR', 'CYP'],
      dtype='object')

In [77]:
def fe(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['F-E'] = 0
        return row
    previous_mean = previous.mean()
    try:
        fe = previous_mean["FIP"]-previous_mean["평균자책점"]
    except ZeroDivisionError:
        row['F-E'] = 0
    row["F-E"] = fe
    return row
def perFE(row):
    previous = pitcher[pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_mean = previous.mean()
    if len(previous) == 0:
        row['F-E'] = 0
        return row
    try:
        fe = previous_mean["FIP"]-previous_mean["평균자책점"]
    except ZeroDivisionError:
        row['F-E'] = 0
        return row
    row['F-E'] = fe
    return row

In [78]:
team_pitcher = team_pitcher.apply(fe,axis=1)
team_pitcher["F-E"]

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
6395    0.327288
6396   -0.538285
6397   -0.946983
6398   -0.090499
6399    0.392480
Name: F-E, Length: 6400, dtype: float64

In [79]:
team_pitcher["F-E"].mean()

0.19897802065514253

In [80]:
pitcher = pitcher.apply(perFE,axis=1)
pitcher["F-E"]

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
27799    1.186889
27800   -0.667815
27801    2.192789
27802    0.568960
27803    0.197542
Name: F-E, Length: 27804, dtype: float64

In [81]:
pitcher["F-E"].mean()

0.17050519640278475

In [70]:
def re(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['R-E'] = 0
        return row
    previous_sum = previous.mean()
    try:
        fe = previous_sum["RA/9"]-previous_sum["평균자책점"]
    except ZeroDivisionError:
        row['R-E'] = 0
    row["R-E"] = fe
    return row
def perRE(row):
    previous = pitcher[pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.mean()
    if len(previous) == 0:
        row['R-E'] = 0
        return row
    try:
        re = previous_sum["RA/9"]-previous_sum["평균자책점"]
    except ZeroDivisionError:
        row['R-E'] = 0
        return row
    row['R-E'] = re
    return row

In [75]:
team_pitcher = team_pitcher.apply(re,axis=1)
team_pitcher["R-E"]

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
6395    0.306039
6396    0.553325
6397    0.613691
6398    0.691291
6399    0.535096
Name: R-E, Length: 6400, dtype: float64

In [76]:
pitcher = pitcher.apply(perRE,axis=1)
pitcher["R-E"]

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
27799    0.000000
27800    0.694079
27801    0.000000
27802    6.293878
27803    0.000000
Name: R-E, Length: 27804, dtype: float64

In [82]:
team_pitcher["R-E"].mean()

0.4538907862102897

In [85]:
pitcher["R-E"].mean()

0.37574214695412855

In [87]:
team_pitcher

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,완투,결과,홀드,이닝*3,...,BB9,HR9,KBB,P/G,P/IP,P/PA,PFR,CYP,R-E,F-E
0,20160401HHLG0,2016-04-01,LG,HH,0,B,0,W,0,36,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20160401HHLG0,2016-04-01,HH,LG,0,T,0,L,0,34,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20160401HTNC0,2016-04-01,NC,HT,0,B,0,W,0,27,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20160401HTNC0,2016-04-01,HT,NC,0,T,0,L,0,24,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20160401KTSK0,2016-04-01,SK,KT,0,B,0,L,0,27,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,0,W,2,27,...,3.091352,1.167479,2.191489,149.557377,16.668088,3.842881,1.110840,50.866667,0.306039,0.327288
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,0,L,0,27,...,3.114090,0.791147,2.464865,145.836066,16.638404,3.881326,1.202618,90.933333,0.553325,-0.538285
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,0,W,1,27,...,3.188724,0.769139,2.100503,154.793651,17.362611,3.879077,1.112760,47.633333,0.613691,-0.946983
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,0,W,0,27,...,4.248812,0.929929,1.671698,154.640625,17.631235,3.933625,1.268409,40.966667,0.691291,-0.090499
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,0,L,2,24,...,2.696864,1.050523,2.412791,146.261538,16.562718,3.825755,1.027875,62.500000,0.535096,0.392480

In [88]:
pitcher

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,BB9,HR9,KBB,P/G,P/IP,P/PA,PFR,CYP,F-E,R-E
0,20160401HHLG0,2016-04-01,LG,HH,0,B,60146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61891,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20160401HHLG0,2016-04-01,LG,HH,0,B,62146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20160401HHLG0,2016-04-01,HH,LG,0,T,65764,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27799,20200719WOSK0,2020-07-19,WO,SK,0,T,67313,1,0,0,...,3.130435,1.173913,2.250000,146.261538,16.782609,3.938776,1.173913,3.300000,1.186889,0.000000
27800,20200719WOSK0,2020-07-19,WO,SK,0,T,67391,0,1,0,...,3.422535,0.760563,2.333333,146.261538,17.197183,3.990196,1.267606,1.933333,-0.667815,0.694079
27801,20200719WOSK0,2020-07-19,WO,SK,0,T,68341,0,1,0,...,4.821429,0.964286,2.000000,146.261538,14.785714,3.729730,1.607143,1.666667,2.192789,0.000000
27802,20200719WOSK0,2020-07-19,WO,SK,0,T,69399,0,1,0,...,3.724138,0.000000,1.000000,146.261538,18.103448,3.301887,0.827586,-6.766667,0.568960,6.293878
27803,20200719WOSK0,2020-07-19,SK,WO,0,B,75138,0,1,0,...,6.000000,3.000000,1.000000,154.640625,17.000000,3.923077,1.333333,0.700000,0.197542,0.000000

In [29]:
team_pitcher.to_csv("팀투수_세이버 매트릭스_합본.csv",encoding="utf-8-sig",index=False)
pitcher.to_csv("개인투수_세이버 매트릭스_합본.csv",encoding="utf-8-sig",index=False)