<a href="https://colab.research.google.com/github/dj-1087/BigContest-COIN/blob/master/OAVG_OOBP_OSLG_OOPS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
TEAM_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/팀투수_세이버 매트릭스_합본_8_25.csv"
PER_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/개인투수_세이버 매트릭스_합본_8_25.csv"

In [ ]:
team_pitcher = pd.read_csv(TEAM_PATH,encoding="utf-8-sig")
team_pitcher

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,완투,결과,홀드,이닝*3,...,whip,P/G,P/IP,P/PA,PFR,CYP,F-E,R-E,총합연봉,평균연봉
0,20160401HHLG0,2016-04-01,LG,HH,0,B,0,W,0,36,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,925700.0,14025.757576
1,20160401HHLG0,2016-04-01,HH,LG,0,T,0,L,0,34,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1454500.0,19655.405405
2,20160401HTNC0,2016-04-01,NC,HT,0,B,0,W,0,27,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,872200.0,13017.910448
3,20160401HTNC0,2016-04-01,HT,NC,0,T,0,L,0,24,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1058700.0,15801.492537
4,20160401KTSK0,2016-04-01,SK,KT,0,B,0,L,0,27,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,955500.0,14051.470588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,0,W,2,27,...,1.401340,149.557377,16.668088,3.842881,1.110840,50.866667,0.327288,0.306039,1067700.0,16682.812500
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,0,L,0,27,...,1.367207,145.836066,16.638404,3.881326,1.202618,90.933333,-0.538285,0.553325,998090.0,15842.698413
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,0,W,1,27,...,1.520475,154.793651,17.362611,3.879077,1.112760,47.633333,-0.946983,0.613691,975000.0,15476.190476
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,0,W,0,27,...,1.530285,154.640625,17.631235,3.933625,1.268409,40.966667,-0.090499,0.691291,935800.0,15093.548387
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,0,L,2,24,...,1.402439,146.261539,16.562718,3.825755,1.027875,62.500000,0.392480,0.535096,885600.0,14760.000000

In [ ]:
per_pitcher = pd.read_csv(PER_PATH,encoding="utf-8-sig")
per_pitcher

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,KBB,whip,P/G,P/IP,P/PA,PFR,CYP,F-E,R-E,연봉
0,20160401HHLG0,2016-04-01,LG,HH,0,B,60146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3700.0
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61891,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12500.0
2,20160401HHLG0,2016-04-01,LG,HH,0,B,62146,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3500.0
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55000.0
4,20160401HHLG0,2016-04-01,HH,LG,0,T,65764,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27799,20200719WOSK0,2020-07-19,WO,SK,0,T,67313,1,0,0,...,2.250000,1.391304,146.261539,16.782609,3.938776,1.173913,3.300000,1.186889,0.000000,88000.0
27800,20200719WOSK0,2020-07-19,WO,SK,0,T,67391,0,1,0,...,2.333333,1.563380,146.261539,17.197183,3.990196,1.267606,1.933333,-0.667815,0.694079,2700.0
27801,20200719WOSK0,2020-07-19,WO,SK,0,T,68341,0,1,0,...,2.000000,1.071429,146.261539,14.785714,3.729730,1.607143,1.666667,2.192789,0.000000,4800.0
27802,20200719WOSK0,2020-07-19,WO,SK,0,T,69399,0,1,0,...,1.000000,2.689655,146.261539,18.103448,3.301887,0.827586,-6.766667,0.568960,6.293878,2700.0
27803,20200719WOSK0,2020-07-19,SK,WO,0,B,75138,0,1,0,...,1.000000,2.000000,154.640625,17.000000,3.923077,1.333333,0.700000,0.197542,0.000000,11000.0

In [ ]:
team_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점', 'RA/9', 'ERC', 'FIP', 'LOB',
       '홈런율', '삼진율', 'K9', 'BB9', 'HR9', 'KBB', 'whip', 'P/G', 'P/IP', 'P/PA',
       'PFR', 'CYP', 'F-E', 'R-E', '총합연봉', '평균연봉'],
      dtype='object')

In [ ]:
per_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루.1', '희타', '희비', '4구', '고4', '사구', '삼진', '병살', '폭투', '보크',
       '실책', '실점', '자책점', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점',
       'RA/9', 'ERC', 'FIP', 'LOB', '홈런율', '삼진율', 'K9', 'BB9', 'HR9', 'KBB',
       'whip', 'P/G', 'P/IP', 'P/PA', 'PFR', 'CYP', 'F-E', 'R-E', '연봉'],
      dtype='object')

In [ ]:
# 안타/타수
def teamOAVG(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['OAVG'] = 0
        return row
    previous_sum = previous.sum()
    try:
        oavg = previous_sum["안타"]/previous_sum["타수"]
    except ZeroDivisionError:
        oavg = 0
    row['OAVG']= oavg
    return row
def perOAVG(row):
    previous = per_pitcher[per_pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['OAVG'] = 0
        return row
    try:
        oavg = previous_sum["안타"]/previous_sum["타수"]
    except ZeroDivisionError:
        row['OAVG'] = 0
        return row
    row['OAVG'] = oavg
    return row

#출루율 = 안타+(4구+사구)/타수+(4구+사구)+희비
def teamOOBP(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['OOBP'] = 0
        return row
    previous_sum = previous.sum()
    try:
        oobp = (previous_sum["안타"]+previous_sum["4구"]+previous_sum["사구"])/(previous_sum["타수"]+previous_sum["4구"]+previous_sum["사구"]+previous_sum["희비"])
    except ZeroDivisionError:
        oobp = 0
    row['OOBP']= oobp
    return row
def perOOBP(row):
    previous = per_pitcher[per_pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['OOBP'] = 0
        return row
    try:
        oobp = (previous_sum["안타"]+previous_sum["4구"]+previous_sum["사구"])/(previous_sum["타수"]+previous_sum["4구"]+previous_sum["사구"]+previous_sum["희비"])
    except ZeroDivisionError:
        row['OOBP'] = 0
        return row
    row['OOBP'] = oobp
    return row

#장타율 = [단타 + (2*2루타) + (3*3루타) + (4*홈런] / 타수
def teamOSLG(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['OSLG'] = 0
        return row
    previous_sum = previous.sum()
    try:
        oslg = (previous_sum["단타"]+2*previous_sum["2루타"]+3*previous_sum["3루타"]+4*previous_sum["홈런"])/previous_sum["타수"]
    except ZeroDivisionError:
        oslg = 0
    row['OSLG']= oslg
    return row
def perOSLG(row):
    previous = per_pitcher[per_pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['OSLG'] = 0
        return row
    try:
        oslg = (previous_sum["단타"]+2*previous_sum["2루타"]+3*previous_sum["3루타"]+4*previous_sum["홈런"])/previous_sum["타수"]
    except ZeroDivisionError:
        row['OSLG'] = 0
        return row
    row['OSLG'] = oslg
    return row
#OPS = 장타율 + 출루율
def teamOOPS(row):
    previous = team_pitcher[(team_pitcher['시즌'] == row['시즌']) & (team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['OOPS'] = 0
        return row
    previous_sum = previous.sum()
    try:
        oops = previous_sum["OOBP"]+previous_sum["OSLG"]
    except ZeroDivisionError:
        oops = 0
    row['OOPS']= oops
    return row
def perOOPS(row):
    previous = per_pitcher[per_pitcher['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['OOPS'] = 0
        return row
    try:
        oops = previous_sum["OOBP"]+previous_sum["OSLG"]
    except ZeroDivisionError:
        row['OOPS'] = 0
        return row
    row['OOPS'] = oops
    return row

In [ ]:
team_pitcher = team_pitcher.apply(teamOAVG,axis=1)
team_pitcher["OAVG"].iloc[2870: 2890]

2870    0.301056
2871    0.295236
2872    0.273261
2873    0.265807
2874    0.293006
2875    0.269114
2876    0.280522
2877    0.288496
2878    0.299568
2879    0.292046
2880    0.000000
2881    0.000000
2882    0.000000
2883    0.000000
2884    0.000000
2885    0.000000
2886    0.000000
2887    0.000000
2888    0.000000
2889    0.000000
Name: OAVG, dtype: float64

In [ ]:
per_pitcher = per_pitcher.apply(perOAVG,axis=1)
per_pitcher["OAVG"].iloc[2870: 2890]

2870    0.337079
2871    0.215517
2872    0.326154
2873    0.214286
2874    0.263158
2875    0.281553
2876    0.266234
2877    0.153846
2878    0.268966
2879    0.322581
2880    0.278736
2881    0.323810
2882    0.230769
2883    0.287234
2884    0.350000
2885    0.253968
2886    0.303502
2887    0.254902
2888    0.283951
2889    0.284404
Name: OAVG, dtype: float64

In [ ]:
team_pitcher = team_pitcher.apply(teamOOBP,axis=1)
team_pitcher["OOBP"].iloc[2870: 2890]

2870    0.363636
2871    0.356436
2872    0.343249
2873    0.328044
2874    0.358514
2875    0.341848
2876    0.349380
2877    0.360600
2878    0.376268
2879    0.351031
2880    0.000000
2881    0.000000
2882    0.000000
2883    0.000000
2884    0.000000
2885    0.000000
2886    0.000000
2887    0.000000
2888    0.000000
2889    0.000000
Name: OOBP, dtype: float64

In [ ]:
per_pitcher = per_pitcher.apply(perOOBP,axis=1)
per_pitcher["OOBP"].iloc[2870: 2890]

In [ ]:
def singleHit(df):
    df["단타"] = df["안타"]-df["2루타"]-df["3루타"]-df["홈런"]
    return df

In [ ]:
per_pitcher = singleHit(per_pitcher)
per_pitcher["단타"]

In [ ]:
team_pitcher = singleHit(team_pitcher)
team_pitcher["단타"]

In [ ]:
team_pitcher = team_pitcher.apply(teamOSLG,axis=1)
team_pitcher["OSLG"].iloc[2870: 2890]

In [ ]:
per_pitcher = per_pitcher.apply(perOSLG,axis=1)
per_pitcher["OSLG"].iloc[2870: 2890]

In [ ]:
team_pitcher = team_pitcher.apply(teamOOPS,axis=1)
team_pitcher["OOPS"].iloc[2870: 2890]

In [ ]:
per_pitcher = per_pitcher.apply(perOOPS,axis=1)
per_pitcher["OOPS"].iloc[2870: 2890]

In [ ]:
per_pitcher.to_csv("개인투수_세이버 매트릭스_합본_8_26.csv")
team_pitcher.to_csv("팀투수_세이버 매트릭스_합본_8_26.csv")

In [ ]:
per_pitcher

In [ ]:
team_pitcher